<% @portfolio_items.inspect %>
<hr>
<h1>Portfolio Items</h1>
<!-- Filter form for title and subtitle -->
<%= form_with url: portfolios_path, method: :get, local: true do %>
  <div>
    <%= label_tag :title, "Filter by Title" %>
    <%= text_field_tag :title, params[:title] %>
  </div>
  <div>
    <%= label_tag :subtitle, "Filter by Subtitle" %>
    <%= text_field_tag :subtitle, params[:subtitle] %>
  </div>
  <%= submit_tag "Filter" %>
<% end %>

<%= link_to "Create new Item", new_portfolio_path %>
<% if @portfolio_items.any? %>
  <% @portfolio_items.each do |portfolio_item| %>
    <p> <%= link_to portfolio_item.title, portfolio_show_path(portfolio_item.id) %> </p>
    <p> <%= portfolio_item.subtitle %> </p>
    <p> <%= portfolio_item.body %> </p>
  <% end %>
<% else %>
  <p>No portfolio items found.</p>
<% end %>