<h1>Courses</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Teacher</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.teacher.name if course.teacher %></td>
        <td>
          <%= link_to 'Edit', edit_course_path(course) %> 
          <%= link_to 'Delete', course_path(course), method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Course', new_course_path %>
